<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<display-name>StudentHelper</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>AutentificationFilter</filter-name>
		<filter-class>edu.bsuir.sh.Filters.AutentificationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutentificationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>AutorizationFilter</filter-name>
		<filter-class>edu.bsuir.sh.Filters.AutorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutorizationFilter</filter-name>
		<url-pattern>/ChoseTable</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>PrivatePage</servlet-name>
		<servlet-class>edu.bsuir.sh.PrivatePage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrivatePage</servlet-name>
		<url-pattern>/PrivatePage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>edu.bsuir.sh.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChoseTable</servlet-name>
		<servlet-class>edu.bsuir.sh.common.ChoseTable</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChoseTable</servlet-name>
		<url-pattern>/ChoseTable</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ErrorPage</servlet-name>
		<servlet-class>edu.bsuir.sh.common.ErrorPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorPage</servlet-name>
		<url-pattern>/ErrorPage</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>GroupView</servlet-name>
		<servlet-class>edu.bsuir.sh.view_tables.GroupView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupView</servlet-name>
		<url-pattern>/GroupView</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MarksView</servlet-name>
		<servlet-class>edu.bsuir.sh.view_tables.MarksView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarksView</servlet-name>
		<url-pattern>/MarksView</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProffessorsView</servlet-name>
		<servlet-class>edu.bsuir.sh.view_tables.ProffessorsView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProffessorsView</servlet-name>
		<url-pattern>/ProffessorsView</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentsView</servlet-name>
		<servlet-class>edu.bsuir.sh.view_tables.StudentsView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentsView</servlet-name>
		<url-pattern>/StudentsView</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudiesView</servlet-name>
		<servlet-class>edu.bsuir.sh.view_tables.StudiesView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudiesView</servlet-name>
		<url-pattern>/StudiesView</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserView</servlet-name>
		<servlet-class>edu.bsuir.sh.view_tables.UserView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserView</servlet-name>
		<url-pattern>/UserView</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GroupEdit</servlet-name>
		<servlet-class>edu.bsuir.sh.edit_tables.GroupEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupEdit</servlet-name>
		<url-pattern>/GroupEdit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MarksEdit</servlet-name>
		<servlet-class>edu.bsuir.sh.edit_tables.MarksEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarksEdit</servlet-name>
		<url-pattern>/MarksEdit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProfessorsEdit</servlet-name>
		<servlet-class>edu.bsuir.sh.edit_tables.ProfessorsEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfessorsEdit</servlet-name>
		<url-pattern>/ProfessorsEdit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentsEdit</servlet-name>
		<servlet-class>edu.bsuir.sh.edit_tables.StudentsEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentsEdit</servlet-name>
		<url-pattern>/StudentsEdit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudiesEdit</servlet-name>
		<servlet-class>edu.bsuir.sh.edit_tables.StudiesEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudiesEdit</servlet-name>
		<url-pattern>/StudiesEdit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserEdit</servlet-name>
		<servlet-class>edu.bsuir.sh.edit_tables.UserEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserEdit</servlet-name>
		<url-pattern>/UserEdit</url-pattern>
	</servlet-mapping>

</web-app>