<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StudentHelper</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>edu.bsuir.sh.common.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChoseTableServ</servlet-name>
    <servlet-class>edu.bsuir.sh.common.ChoseTableServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoseTableServ</servlet-name>
    <url-pattern>/ChoseTableServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GroupsServ</servlet-name>
    <servlet-class>edu.bsuir.sh.tables.GroupsServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupsServ</servlet-name>
    <url-pattern>/GroupsServ</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GroupEditServ</servlet-name>
    <servlet-class>edu.bsuir.sh.tables_edit.GroupEditServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupEditServ</servlet-name>
    <url-pattern>/GroupEditServ</url-pattern>
  </servlet-mapping>
  
</web-app>